<h1 align="center">Listing all Categories</h1>

<div align="center">
  <%= will_paginate %>
</div>

<div class="listing">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="well col-md-4 col-md-offset-4">
        <div class="category-title text-center">
          <%= link_to category.name, category_path(category) %>
        </div>
        <div class="article-count">
          <small><%= pluralize(category.articles.count, "article") %></small>
        </div>
        <div class="category-footer">
          <%= render 'admin_actions', obj: category %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>