<h1 align="center"><%= "Category: #{@category.name}" %></h1>

<div align="center">
  <%= will_paginate @category_articles %>
</div>

<div align="center">
  <%= render 'admin_actions', obj: @category %>
</div>

<%= render 'articles/article', obj: @category.articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>